#include "Version.xcconfig"

PRODUCT_NAME = Focus Desk
PRODUCT_MODULE_NAME = FocusDesk
EXECUTABLE_NAME = FocusDesk
APP_DISPLAY_NAME = Focus Desk
PRODUCT_BUNDLE_IDENTIFIER = com.dgilmano.focusdesk
GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = Config/Info.plist
INFOPLIST_PREPROCESS = YES
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CODE_SIGN_ENTITLEMENTS = Config/FocusDesk.entitlements
CODE_SIGN_STYLE = Manual
ENABLE_APP_SANDBOX = YES
ENABLE_HARDENED_RUNTIME = YES
ENABLE_INCOMING_NETWORK_CONNECTIONS = NO
ENABLE_OUTGOING_NETWORK_CONNECTIONS = NO
ENABLE_USER_SELECTED_FILES = readwrite
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
SKIP_INSTALL = NO
COMBINE_HIDPI_IMAGES = YES
