ARCHS = arm64
SUPPORTED_PLATFORMS = macosx
SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 14.0
SWIFT_VERSION = 6.0
SWIFT_STRICT_CONCURRENCY = complete
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
ENABLE_USER_SCRIPT_SANDBOXING = YES
ONLY_ACTIVE_ARCH = NO
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
